*.swp
.idea
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
protected/tests/report/*
!protected/tests/report/.gitignore
images/*
!images/.gitignore
uploads/*
!uploads/.gitignore
FILES/*
!FILES/.gitignore
7960a0d16c102dc00b2850533c56de5c/*
!7960a0d16c102dc00b2850533c56de5c/sape.php
framework/*
protected/extensions/qrcode/phpqrcode/cache/*
